parameters:
    db_driver: mysql
    db_user: root
    db_password: password
    db_dsn: "%db_driver%:host=localhost;dbname=deployment_status"
    pusher.app_id: ~
    pusher.key: ~
    pusher.secret: ~
    pusher.cluster: us-east-1
    github.credentials:
        - username: username
          password: some-token|password
    github.hub.secret: some-secret
    secret: ThisTokenIsNotSoSecretChangeIt
